body{
    font-family: Arial, Helvetica, monospace;
}

h1{
    text-align: center;
}

#pagina{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows:10% auto 10%;
}

#contenedor-superior{
    display: flex;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #eee;
    height: 15%;
    left: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

#contenedor-derecho {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #eee;
    height: 85%;
    width: 8%;
    right: 0px;
    position: absolute;
    padding: 10px;
}

#contenedor-izquierdo{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #eee;
    height: 85%;
    width: 8%;
    left: 0px;
    position: absolute;
    padding: 10px;
}

#contenedor-inferior{
    display: flex;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #eee;   
    height: 15%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    padding: 10px;
}

#plazita{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cielo {
	height: 57.5%;
	width: 82%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 17%;
	left: 9%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 82%;
	height: 50%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 9%;
	opacity: 0.8;
	z-index: -1;
}


.contenedor-componente{
    height: 20%;
    position: relative;
}


.componente{
    position: absolute;
    max-width: 100px;
    min-width: 100px;
    z-index: 2;
}